.container {
  width: 80%;
}

.searchBar {
  text-align: center;
}

.bar {
  background: whitesmoke;
  height: 3rem;
  opacity: 80%;
  width: 50%;
}

.bar:focus,
.bar:hover {
  background: var(--custom--white);
  opacity: 100%;
}

.pokemonsList {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.pokemon {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  text-align: center;
  transition: 0.5s;
  width: 28.5%;
}

.pokemon img {
  width: 40%;
}

.pokemon p {
  padding: 5px;
}

#moreInfoBtn {
  background-color: whitesmoke;
}

.selectedPokemon {
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  width: 31%;
}

@media screen and (max-width: 1000px) {
  .pokemon {
    width: 95%;
  }

  .bar {
    width: 85%;
  }
}
