.container {
  width: 80%;
}

.searchBar {
  text-align: center;
  width: 100%;
}

.bar {
  background: whitesmoke;
  height: 3rem;
  opacity: 80%;
  width: 50%;
}

.bar:focus,
.bar:hover {
  background: var(--custom--white);
  opacity: 100%;
}

.pokemonsList {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.pokemon {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  text-align: center;
  transition: 0.5s;
  width: 28.5%;
}

.pokemon img {
  width: 40%;
}

.pokeType {
  padding: 0.4rem;
  font-weight: bold;
}

#moreInfoBtn {
  background-color: whitesmoke;
}

.type {
  display: flex;
}

.selectedPokemon {
  border-radius: 10px;
  transition: 1.5s ease-in-out;
  height: 20rem;
}

@media screen and (max-width: 1000px) {
  .pokemon {
    width: 95%;
  }

  .bar,
  .searchBar {
    width: 90%;
  }
}
