input:focus,
input:hover {
  border-radius: 0px;
  font-size: 16px;
}

.pokedexForm {
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px 0;
  padding: 10px 5px;
}

.btn__actions {
  margin-bottom: 15px;
}

.btn {
  background-image: linear-gradient(
    to right,
    #bdbdbd 0%,
    #727272 51%,
    #000000 100%
  );
  background-size: 200% auto;
  border-radius: 10px;
  color: black;
  font-size: 0.985em;
  transition: 0.5s;
}

.btn:hover {
  text-decoration: none;
}

.pokemon {
  background-color: chartreuse;
  border: black 2px solid;
  border-radius: 10px;
  text-align: center;
  margin: 3rem auto;
  width: 40%;
}

.pokemon ul {
  padding: 0.5rem;
}

#pokeID::before {
  content: '#';
}

.pokemon ul img {
  width: 50%;
}

.pokemon span {
  font-weight: 600;
  font-size: 1.1em;
}

.pokemon:hover {
  animation: bounce 0.5s linear;
}

@media screen and (max-width: 1000px) {
  .pokemon {
    width: 100%;
  }

  .btn {
    font-size: 0.8em;
  }
}

@keyframes bounce {
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
