input,
select {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 5px;
  transition: 0.7s;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.title {
  padding: 3px 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.subtTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn {
  background-color: salmon;
  border-radius: 15px;
  font-weight: 900;
  font-size: large;
  margin: 5px;
  padding: 10px;
  transition: 0.7s;
}

.btn:hover {
  opacity: 75%;
  border-radius: 0;
  cursor: pointer;
}

.successMsg {
  color: green;
}

.failedMsg {
  color: red;
}

#moreInfoBtn {
  background-color: whitesmoke;
}

.hide {
  display: none;
}
