input,
select {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 5px;
  transition: 0.7s;
}
a {
  color: black;
}
.container {
  width: 980px;
  margin: 0 auto;
}

.navBar {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.navBar__item {
  color: gray;
  padding: 10px 15px 10px 0;
  text-transform: lowercase;
  text-decoration: none;
  transition: 0.5s;
}

.navBar__item:hover {
  color: black;
  font-size: 1.1em;
  text-decoration: underline;
  opacity: 75%;
}

.title {
  padding: 3px 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.subtTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn {
  background-color: salmon;
  border-radius: 15px;
  font-weight: 900;
  font-size: large;
  margin: 5px;
  padding: 10px;
  transition: 0.7s;
}

.btn:hover {
  opacity: 75%;
  border-radius: 0;
  cursor: pointer;
}

.successMsg {
  color: green;
}

.failedMsg {
  color: red;
}

#moreInfoBtn {
  background-color: whitesmoke;
}

.hide {
  display: none;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }

  .pokemon {
    width: 100%;
  }
}
