body {
  background: #c9c9b2;
  background-image: url("../img/pokeballHeader.png");
  background-repeat: no-repeat;
  background-position: center;
}

input,
select {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 5px;
  transition: 0.7s;
}
a {
  color: var(--custom--black);
}
.container {
  width: 980px;
  margin: 0 auto;
}

.navBar {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.navBar__item {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 1rem;
  text-transform: lowercase;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.navBar__item:hover {
  color: var(--custom--black);
  text-decoration: underline;
  opacity: 85%;
}

.title {
  padding: 3px 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.subtTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn {
  background-color: salmon;
  border-radius: 15px;
  font-weight: 700;
  font-size: large;
  margin: 5px;
  padding: 10px;
  transition: 0.7s;
}

.btn:hover {
  opacity: 85%;
  border-radius: 0;
  cursor: pointer;
}

.successMsg {
  color: var(--success--msg);
}

.failedMsg {
  color: var(--failed--msg);
}

#moreInfoBtn {
  background-color: whitesmoke;
}

.hide {
  display: none;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  body {
    background-size: cover;
  }
  .container {
    width: 95%;
  }

  .pokemon {
    width: 100%;
  }
}
