:root {
  /*========== Colors ==========*/

  /*========== Light Mode ==========*/
  --background-navy: #003147;
  --hover-light-blue: #03a9f4;
  --my-white: #fefefe;
  --smk-white: #fff;
  --gray: #999;
  --light-gray: rgba(0, 0, 0, 0.1);
  --my-black: #111;
  --status-delivered: #8de02c;
  --status-pending: #f9ca3f;
  --status-return: #f00;

  /*========== Dark Mode ==========*/
  --gray-dark-theme: #191a19;
  --background-dark-theme: #2b2b2b;
  --green-dark-theme: #1e5128;
  --hover-dark-theme: #6cffa7;
  --text-dark-theme: #d8e9a8;
  --status-return-dark: rgb(235, 62, 32);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--background-dark-theme);
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gray-dark-theme);
  text-align: center;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box h4 {
  color: var(--background-dark-theme);
  text-transform: capitalize;
  font-weight: 400;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--hover-light-blue);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: var(--my-white);
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: var(--hover-dark-theme);
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--hover-dark-theme);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: var(--hover-dark-theme);
  color: var(--my-black);
  font-size: 1.05em;
  font-weight: 700;
}

.login__fail {
  font-size: 0.8em;
  color: var(--my-white);
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .box {
    width: 90vw;
    padding: 0.5rem;
  }

  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 70vw;
  }
}
