.container {
  width: 60%;
}

.pageTextGradient {
  background-color: #4adede;
  background-image: linear-gradient(135deg, #4adede 0%, #1e2f97 100%);
}

.pageTextColor {
  color: #4adede;
}

.contact__form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.contact__infos label {
  color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  width: 45%;
}

.contact__infos input,
textarea {
  background-color: rgba(25, 25, 25, 0.7);
  border-radius: 8px;
  border: none;
  color: var(--primaryColor);
  font-weight: bolder;
  margin-top: 0.25rem;
  padding: 1rem;
}

.contact__link {
  color: var(--primaryColor);
  margin-top: 1rem;
}

.contact__infos {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  justify-content: space-evenly;
}

.input {
  justify-content: space-between;
  margin: 0.5rem 0;
}

.message {
  margin: 0.25rem 0;
  height: 15rem;
}

.contact__btn {
  border: none;
  background-color: var(--background);
  color: #4adede;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1.2rem;
  border-radius: var(--borderRadius);
  margin: 0 auto;
  transition: var(--duration) ease-in;
  width: 25%;
}

.contact__btn:hover {
  border-radius: 0;
  cursor: pointer;
  opacity: 0.9;
}

.contact__type {
  align-items: center;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
}

.contact__type__img {
  background-color: var(--hoverBackground);
  border-radius: 5rem;
  font-size: 1.7rem;
  padding: 1.3rem 2rem;
  text-align: center;
}

.contact__type__txt {
  color: var(--primaryColor);
  margin: 1rem 0;
  transition: var(--duration) ease-in-out;
}

.contact__type__txt:hover {
  color: var(--hoverText);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 98vw;
  }

  .contact__infos {
    justify-content: center;
  }

  .contact__type {
    margin-top: 1.75rem;
    width: 90%;
  }

  .contact__infos label {
    width: 95%;
  }

  .input {
    justify-content: flex-start;
    flex-direction: row;
  }

  .contact__btn {
    width: 70%;
  }
}
