.main__home {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.profile_description {
  width: 55%;
}

.profile__header {
  font-size: 3rem;
}

.profile__profission {
  font-size: 1.2rem;
  color: var(--title-color);
}

.profile__aboutme {
  width: 90%;
  padding: 2rem 0;
}

.resume__button {
  border: none;
  border-radius: 30px;
  background-color: tomato;
  color: var(--text-color);
  font-weight: bolder;
  padding: 1.2rem;
}

.resume__button:hover {
  background-color: lightcoral;
}

.profile__pic {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .profile__header {
    font-size: 1.5rem;
  }

  .profile__profission {
    font-size: 0.9rem;
  }
}
