.container {
  min-width: 60%;
}

.pageTextGradient {
  background-color: #bb98df;
  background-image: linear-gradient(135deg, #bb98df 0%, #663399 100%);
}

.pageTextColor {
  color: #bb98df;
}

.project__card__img {
  margin: 1rem;
  padding: 2rem;
  width: 35%;
}

@media screen and (max-width: 768px) {
  .project__card__img {
    width: 100%;
  }
}