.container {
  min-width: 50vw;
}

.pageTextGradient {
  background-color: #ff8b1e;
  background-image: linear-gradient(135deg, #ffc085 0%, #a75509 100%);
}

.pageTextColor {
  color: #ff8b1e;
}

.project__year {
  font-size: 1.785rem;
}

.cards {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project__card {
  align-items: flex-start;
  background-color: var(--secondaryColor);
  border-radius: var(--borderRadius);
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 0.1rem;
  width: 100%;
}

.project__card__img {
  background-color: white;
  border-radius: var(--borderRadius);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  margin: 1rem;
  padding: 2%;
  max-width: 45%;
}

.project__card__body {
  padding: 0.785rem;
  width: 45%;
}

.project__card__title {
  font-size: 1.5rem;
  font-family: var(--headingFont);
  text-transform: capitalize;
}

.project__card__text {
  margin-bottom: 0.1rem;
}

.in__progress {
  border-top: var(--primaryColor) 0.25px solid;
  font-weight: bolder;
  margin-top: 1rem;
}

.project__card__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  border: #ff8b1e 2px solid;
  border-radius: var(--borderRadius);
  color: var(--background);
  font-size: 85%;
  transition: var(--duration) linear;
  text-transform: capitalize;
  width: 45%;
}

.btn:hover {
  border: none;
  background-color: var(--background);
  border-radius: 0;
  color: #ff8b1e;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .cards {
    align-items: center;
    margin-top: 1.2rem;
    flex-direction: column;
  }

  .project__card {
    align-items: center;
    flex-direction: column-reverse;
    min-width: none;
    width: 100%;
  }

  .project__card__img {
    margin: 0;
    padding: 1rem;
    max-width: 100%;
  }

  .project__card__body {
    width: 100%;
  }
}
