/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --background: #08070b;
  --primaryColor: #72777c;
  --secondaryColor: #ebebeb;
  --hoverBackground: rgba(255, 255, 255, 0.068);
  --hoverText: #fefefe;
  --resumeBtn: #85ffbd;

  /*========== Font and typography ==========*/
  --body-font: "Open Sans", sans-serif;
  --headingFont: "Paytone One", sans-serif;
  --h1FontSize: 2.85rem;
  --logoSize: 1.4rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.8rem;

  /*========== Style ==========*/
  --duration: 0.4s;
  --borderRadius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--primaryColor);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.title {
  font-size: var(--h1FontSize);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-size: var(--h1FontSize);
}
.container {
  width: 40%;
  margin: 0 auto;
}

.active {
  color: white !important;
  text-decoration: underline;
}

.site-header {
  display: flex;
  justify-content: space-between;
  margin: 1.3rem 0;
}

.site-nav {
  align-items: center;
  display: flex;
}

.btn-header {
  color: var(--primaryColor);
  border-radius: var(--borderRadius);
  font-size: var(--tiny-font-size);
  transition: var(--duration) ease-in-out;
  margin: 0 1rem;
  padding: 14px;
  text-transform: uppercase;
  height: 34px;
}

.btn-header:hover {
  color: var(--hoverText);
  background-color: var(--hoverBackground);
  text-decoration: none;
}

.btn-logo {
  color: var(--hoverText);
  font-weight: 900;
  font-size: var(--logoSize);
  height: auto;
  padding: 3px 10px !important;
  text-decoration: none;
  font-family: var(--headingFont);
}

.footer {
  margin-bottom: 2rem;
}

.footer__img {
  max-width: 7em;
  width: 40%;
}

.footer__msg {
  align-items: center;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.footer__txt {
  font-family: var(--headingFont);
  font-size: 1.1rem;
  text-align: center;
  width: 40%;
}

.footer__social__media {
  display: flex;
  margin: 3.5rem 0 2rem 0;
  justify-content: space-between;
}

.social__media__name {
  color: var(--primaryColor);
  transition: var(--duration) ease-in-out;
  width: 20%;
}

.social__media__name:hover {
  color: var(--hoverText);
  text-decoration: none;
}

.social__media__icon {
  /* color: var(--resumeBtn); */
  padding-left: 0.35rem;
  visibility: hidden;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.copyright {
  text-align: center;
}

.hide {
  display: none;
}

.highlight {
  color: var(--hoverText);
  transition: var(--duration) ease-in-out;
}

@media screen and (max-width: 768px) {
  .container {
    width: 97vw;
  }

  .site-header {
    flex-direction: column;
  }

  .site-nav {
    justify-content: space-between;
    margin-top: 1rem;
  }

  .btn-header {
    padding: 0.1rem;
  }

  .btn-logo {
    padding: 0 !important;
  }

  .header-logo {
    display: none;
  }

  .copyright {
    font-size: 0.55rem;
  }

  .footer__social__media {
    justify-content: space-around;
  }

  .social__media__name {
    font-size: 1px;
    visibility: hidden;
    text-align: center;
    width: auto;
  }

  .social__media__icon {
    font-size: 1.2rem !important;
    visibility: visible;
  }
}
