/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --background: #08070b;
  --primaryColor: #72777c;
  --secondaryColor: #ebebeb;
  --hoverBackground: rgba(255, 255, 255, 0.068);
  --hoverText: #fefefe;

  /*========== Font and typography ==========*/
  --body-font: "Open Sans", sans-serif;
  --headingFont: "Paytone One", sans-serif;
  --h1FontSize: 2.85rem;
  --logoSize: 1.4rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.8rem;

  /*========== Style ==========*/
  --duration: 0.4s;
  --borderRadius: 10px;
}

body {
  background-color: var(--background);
  color: var(--primaryColor);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-size: var(--h1FontSize);
}
.container {
  width: 40%;
  margin: 0 auto;
}

.site-header {
  display: flex;
  justify-content: space-between;
  margin: 1.3rem 0;
}

.site-nav {
  align-items: center;
  display: flex;
}

.btn-header {
  color: var(--primaryColor);
  border-radius: var(--borderRadius);
  font-size: var(--tiny-font-size);
  transition: var(--duration) ease-in-out;
  margin: 0 1rem;
  padding: 14px;
  text-transform: uppercase;
  height: 34px;
}

.btn-header:hover {
  color: var(--hoverText);
  background-color: var(--hoverBackground);
  text-decoration: none;
}

.btn-logo {
  color: var(--hoverText);
  font-weight: 900;
  font-size: var(--logoSize);
  height: auto;
  padding: 3px 10px !important;
  text-decoration: none;
  font-family: var(--headingFont);
}

.highlight {
  color: var(--hoverText);
}

@media screen and (max-width: 768px) {
  .container {
    width: 97vw;
  }

  .site-header {
    flex-direction: column;
  }

  .site-nav {
    justify-content: space-between;
    margin-top: 1rem;
  }

  .btn-header {
    padding: 0.1rem;
  }

  .btn-logo {
    padding: 0 !important;
  }

  .header-logo {
    display: none;
  }
}
