@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  /*========== Colors ==========*/

  /*========== Light Mode ==========*/
  --background-navy: #003147;
  --hover-light-blue: #03a9f4;
  --my-white: #fefefe;
  --smk-white: #fff;
  --gray: #999;
  --light-gray: rgba(0, 0, 0, 0.1);
  --my-black: #111;
  --status-delivered: #8de02c;
  --status-pending: #f9ca3f;
  --status-return: #f00;

  /*========== Dark Mode ==========*/
  --gray-dark-theme: #191a19;
  --background-dark-theme: #2b2b2b;
  --green-dark-theme: #1e5128;
  --hover-dark-theme: #6cffa7;
  --text-dark-theme: #d8e9a8;
  --status-return-dark: rgb(235, 62, 32);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}
